{% block videochat %}
<div id="chat_view" hidden>
  <video id="partner-video" style="width:100%;"autoplay></video>
  <button id="video_close" class="pull-right submit-msg btn btn-danger">Close</button>
</div>
{% endblock %}
